@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #202020;
    --secondary-color: #FFFFFF;
    --heading-font-family: "Roboto", sans-serif;
    --default-font-family: ;
}
body{
    font-family: var(--heading-font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.hero{
    background-color:var(--primary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero h1{
    
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}
.hero h2{
font-size: 72px;
font-weight: 700;
line-height: 84.38px;
}
.hero p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    background: var(--secondary-color);
    border-radius: 50px;
    padding: 18px 30px 18px 30px;
    color: var(--primary-color);
    width: 200px;
    height: 53px;
}
/*work section*/
h2{ 
    font-size: 64px;
    line-height: 1.5;
}
p{
    font-size: 16px;
    line-height: 30px;
}
.btn-outline{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    border-radius: 50px;
    padding: 18px 30px 18px 30px;
    width: 200px;
    height: 53px;
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
    color: var(--secondary-color);
}
.project-description{
    padding: 120px 60px ;
}
@media(max-width: 960px){
    .hero{
    
    padding: 80px 20px;
}
    h1{
        font-size: 44px;
        line-height: 56px;
    }
    h2{
        font-size: 44px;
    }
.about-section{
    text-align: center;
    padding: 0;
}
    .project-description{
        padding: 0;
        text-align: center;
    }
}
/*About/content */
.content-container{
    padding: 160px 20px;
}
.content{
    margin: 30px;
}
.content h1{
    font-size: 64px;
    line-height: 80px;
}
.content h2{
    font-size: 18px;
    font-family: var(--heading-font-family);
}
.content h3{
    font-size: 24px;
    line-height: 1.5;
    margin-top: 20px 0 0;
}
.content p {
    font-size: 14px;

}
/*Work*/


